<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="XamalTiler.XamalTiler" android:installLocation="auto">
	<uses-sdk android:targetSdkVersion="28" android:minSdkVersion="23" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.SET_WALLPAPER" />
	<application android:label="Fractal Tiler" android:icon="@drawable/Icon"></application>
</manifest>